<% include ../partials/header %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/af.js"></script>
    <script>moment.format('MMM Do YY')</script>

<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <div class="img-thumbnail ico-thumb">
                <img src="<%= User.img %>" width="100px" height="100px">
            </div>
        </div>
        <div class="col-lg-6">
             <ul class="list-group list-group-flush">
          <li class="list-group-item"> <h3 class="my-3"><%= User.name %></h3> </li>
          <li class="list-group-item"><%= User.local.email %> </li>
        </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="center">
        <a class="btn btn-primary" href="/user/<%= User._id %>/edit">Edit profile</a>
        <button type="button" class="btn btn-primary">View transcations</button>
    </div>
</div>
<br>
<div class="container">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Confirm</th>
      <th scope="col">Hotel</th>
      <th scope="col">from </th>
      <th scope="col">to </th>
      <th scope="col">room no </th>
    </tr>
  </thead>
  <tbody>
    <% User.bookings.forEach(function(booking) { %>
    <tr>
      <th scope="row"><span class="glyphicon glyphicon-ok">confirmed</span></th>
      <td><%= booking.hotel.hotelname %></td>
      <td><%= moment(booking.fromdate).format('MMM Do YY') %></td>
      <td><%= moment(booking.todate).format('MMM Do YY') %></td>
      <td><%= booking.room %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
    
</div>

<% include ../partials/footer %>